* {
	margin: 0;
	padding: 0;
}

html,
body {
	min-width: 1140px;
	font-size: 14px;
	color: #262b2e;
	background: #fff;
}

a,
a:link,
a:visited,
a:hover {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.w {
	width: 1140px;
	margin: 0 auto;
}

.logo {
	display: inline-block;
	width: 105px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #f92525;
}

.white-box {
	width: 100%;
	background-color: #fff;
}
